<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/cache
      http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!-- <bean id="..." class="..."> collaborators and configuration for this
        bean go here </bean> <bean id="..." class="..."> collaborators and configuration
        for this bean go here </bean> more bean definitions go here -->



    <bean id="UserManageService" class="service.impl.UserManageServiceImpl">
    </bean>
    <context:component-scan base-package="service">
    </context:component-scan>

    <bean id="OrderManageService" class="service.impl.OrderManageServiceImpl">
    </bean>
    <context:component-scan base-package="service">
    </context:component-scan>

    <bean id="UserDao" class="dao.impl.UserDaoImpl">
    </bean>

    <bean id="OrderDao" class="dao.impl.OrderDaoImpl">
    </bean>

</beans>